@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'tailwindcss';



:root{
    --font-poppins: 'Poppins', Arial;
}

.font-poppins{
    font-family: var(--font-poppins);
}

@theme{
    --font-poppins: 'Poppins', Arial;
}